# Prerequisites
*.d
# Arquivos de compilação
*.o
*.a
*.so
*.dll
*.exe
*.out
*.app

# Diretórios de build
/build
/bin
/obj

# Arquivos de configuração do sistema
*.dSYM/
*.vs/
*.vscode/

# Arquivos de dependências
*.deps
*.tar.gz

# Arquivos do sistema operacional (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# Arquivos de compiladores específicos
*.compdb
*.ide
